mixin footer
  p.footer-text &copy; #{new Date().getFullYear()} Logan Miller, Miller Cyber Technologies LLC. All rights reserved.

  style.
    footer.footer {
      background-color: #042f5a;
      color: white;
      padding: 20px;
      text-align: center;
      font-size: 14px;
      margin-top: 50px;
    }

    p.footer-text {
      margin: 0;
    }