mixin otherhours
    tr
        input(type='hidden', name='exp_id', value=0)
    td Date 
        input(type='date', name='date')
    td Time On
        input(type='number', name='time_on')
    td Time Off
        input(type='number', name='time_off')
    td Run Number 
        input(type='text', name='run_number')
    td Explaination
        textarea(name='explaination')

