extends layout

block content
  h1 Reset Password
  if (token)
    form(action='/user/reset-password', method='POST')
      input(type='hidden', name='token', value=token)
      label(for='password') New Password
      input(type='password', name='password', required)
      button(type='submit') Reset Password
  else
    p Password reset token is invalid or has expired.